.card-body-home {
    position: relative;
    overflow: hidden;
    height: 150px; 
    transition: height 0.3s ease;
}

.card-description-home {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.card-home:hover .card-body-home {
    height: 250px; 
    cursor: pointer;

}

.card-home:hover .card-description-home {
    height: auto;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    
}
.card-home {
    border: none; 
    box-shadow: none; 
  }
  .logo {
    width: 120px;
    height: 80px;
    object-fit: contain;
  }
  .wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 200px;
    margin-bottom:15px
  }
  h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  } 
  .card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .card-content {
    padding:15px;
    text-align:left;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }